<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>binaryfinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>consecutive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>divisorsum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>happy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>multibase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>perfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A60626E18B2A63B009CBAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A60627C18B2A671009CBAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A60628918B2A687009CBAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A60629618B2A691009CBAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6062A318B2A6A0009CBAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6062B018B2A6AB009CBAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
